<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>44.不错的图片浏览器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C11C50CF1CCA0ED300A07504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C11C50E81CCA0ED300A07504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C11C50F31CCA0ED300A07504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
